*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(213, 229, 201);
}


.hero-section{
    max-width: 100%;
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 60px;
    display: flex;
    gap: 100px;
}







.register .nav-tabs .nav-link:hover {
    border: none;
}

.text-align {
    margin-top: -3%;
    margin-bottom: -9%;

    padding: 10%;
    margin-left: 30%;
}

.form-new {
    margin-right: 22%;
    margin-left: 20%;
}

.register-heading {
    margin-left: 21%;
    margin-bottom: 10%;
    color: #e9ecef;
}

.register-heading h1 {
    margin-left: 21%;
    margin-bottom: 10%;
    color: #e9ecef;
}

.register {
    background: -webkit-linear-gradient(left, #04962b, #6ab69e);
    margin-top: 3%;
    padding: 3%;
    border-radius: 2.5rem;
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #03612e;
    border: none;
    cursor: pointer;
    margin-right: 6%;
    color: rgb(246, 246, 252);
    margin-top: 4%;
}