*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(213, 229, 201);
}


.hero-section{
    max-width: 100%;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    gap: 100px;
}

